:root {
    --text-color: white;
    --primary-color: #FFFFE0;
    --secondary-color: #FFDAB9;
    --tertiary-color: #B0E0E6;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--primary-color);
  }

header, footer {
    display: block;
    text-align: center;
    width: 100%;
}

header > img{
    width:20%;
    margin: auto;
}

header > h1 {
    font-size: 20px;

}

header > nav, footer {
    display: flex;
    justify-content: space-around;
    background-color: var(--tertiary-color);
    padding: 10px;
}

header > nav > a{
    text-decoration: none;
    color: black;
    padding: 3px;
    border: 1px solid black;
    border-radius: 10px;
    
}

header > nav > a:hover{
    border: 1px solid white;
    border-radius: 10px;

}

main > div{
    text-align: center;
}

.hero-image, .cat-random-image, .dog-random-image{
    width: 90%;
    margin-top: 4px;
}

.cat-random-image, .dog-random-image{
    border-radius: 50px;
}

.element-container{
    width: 80%;
    margin: 10px auto;
    background-color: var(--secondary-color);
    border-radius: 50px;
}

.element-container p{
    padding-bottom: 5px;
}

.links{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.links >a {
    text-decoration: none;
    padding: 10px;
    border: 1px solid black;
    margin-top: 10px;
    color: black;
    background-color: var(--secondary-color);
}